/********************
***** Color
********************/

$color-brand:                     #BE2E21;
$color-primary:                   #6C6C6C;
$color-secondary:                 #FF0000;

/********************
***** Typography
********************/

$helvetica-font:                  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:                  14px;
$font-family-default:             $helvetica-font;
$font-size-default:               $font-size-base;
$line-height-default:             1.4;